<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Variables</title>
  <link href="/layout-6/output.css" rel="stylesheet">
</head>
<body>
<main class="flex-1 p-8 space-y-6">
  <div class="bg-glass p-6 rounded-2xl shadow border border-bg-300">
    <h2 class="text-xl font-semibold text-text mb-4">Variables</h2>
    <table class="w-full text-left border-collapse">
      <thead>
      <tr class="text-muted border-b border-bg-300">
        <th class="py-2">Name</th>
        <th class="py-2">Value</th>
        <th class="py-2 text-right">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr class="border-b border-bg-300">
        <td class="py-2 text-text">API_URL</td>
        <td class="py-2 text-text">https://api.example.com</td>
        <td class=" flex justify-end gap-4 py-2 text-right">
          <button class="px-2 py-1 bg-accent-300 rounded-lg hover:bg-accent-500 hover:text-white">Edit</button>
          <button type="button" class="flex justify-center border border-error text-danger-500 hover:bg-danger-500 hover:text-white transition-colors px-4 py-2 rounded-lg">
            <svg stroke="currentColor" fill="hsl(0 75% 55% / 0.9)" stroke-width="0" viewBox="0 0 24 24" height="15" width="15" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 6V3C7 2.45 7.45 2 8 2H16C16.55 2 17 2.45 17 3V6H22V8H20V21C20 21.55 19.55 22 19 22H5C4.45 22 4 21.55 4 21V8H2V6H7ZM9 4V6H15V4H9Z"></path>
            </svg>
          </button>
        </td>
      </tr>
      <tr>
        <td class="py-2 text-text">TOKEN</td>
        <td class="py-2 text-text">••••••••</td>
        <td class=" flex justify-end gap-4 py-2 text-right">
          <button class="px-2 py-1 bg-accent-300 rounded-lg hover:bg-accent-500 hover:text-white">Edit</button>
          <button type="button" class="flex justify-center border border-error text-danger-500 hover:bg-danger-500 hover:text-white transition-colors px-4 py-2 rounded-lg">
            <svg stroke="currentColor" fill="hsl(0 75% 55% / 0.9)" stroke-width="0" viewBox="0 0 24 24" height="15" width="15" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 6V3C7 2.45 7.45 2 8 2H16C16.55 2 17 2.45 17 3V6H22V8H20V21C20 21.55 19.55 22 19 22H5C4.45 22 4 21.55 4 21V8H2V6H7ZM9 4V6H15V4H9Z"></path>
            </svg>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="mt-4 px-4 py-2 bg-accent-500 text-white rounded-lg hover:bg-accent-300">Add Variable</button>
  </div>
</main>

</body>
</html>